
{% extends 'base.html.twig' %}
{% block body %}
    <div style="margin-top: 20%;" class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-not-found-wrap" id="bigslam-full-no-header-wrap">
                    <div class="bigslam-not-found-background"></div>
                    <div class="bigslam-not-found-container bigslam-container">
                        <div class="bigslam-header-transparent-substitute"></div>
                        <div class="bigslam-not-found-content bigslam-item-pdlr">
                            <h1 class="bigslam-not-found-head">Report</h1>
                            <h3 class="bigslam-not-found-title bigslam-content-font">Report Change !</h3>
                            <div class="bigslam-not-found-caption">You can change your report here.</div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                    <div role="form" class="wpcf7" id="wpcf7-f1319-p1964-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                                                {{ form_start(report_form) }} 
                                                                    <div class="quform-element">
                                                                        <p>

                                                                            <span class="wpcf7-form-control-wrap your-email">
                                                                             {{ form_widget(report_form.description, {'attr': {'placeholder': 'Explain*'}}) }}
                                                                            </span> 
                                                                        </p>
                                                                     </div>
                                                                        
                                                                        <!-- Begin Submit button -->
                                                                                <p>    
                                                                                    <div class="quform-submit">
                                                                                
                                                                                    <div class="quform-submit-inner">
                                                                                        {{ form_widget(report_form.Confirm, {'attr': { 'class': 'submit-button', 'type':'submit'}}) }}
                                                                                    </div>
                                                                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                                                    </div>
                                                                                 </p>
                                                                {{ form_end(report_form) }}                  
                                    </div>
                                </div>
                            </div>
                            <div class="bigslam-not-found-back-to-home"><a href="index.html">Or Back To Homepage</a></div>
                        </div>
                    </div>
                </div>
                <!--WPFC_FOOTER_START-->
            </div>
    {% endblock %}
