
{% extends 'base.html.twig' %}

{% block body  %}

            <div style="margin-top: 20%" class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 330px 0px 70px 0px;" data-skin="Dark">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/service-bg-5.jpg) ;background-size: cover ;background-position: center ;" data-parallax-speed="0.3"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeInUp" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-alert-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                <div class="gdlr-core-alert-box-item-inner gdlr-core-skin-e-background gdlr-core-skin-border" style="border-width: 0px;">
                                    <div class="gdlr-core-alert-box-remove gdlr-core-js"><i class="fa fa-remove"></i></div>
                                    <div class="gdlr-core-alert-box-item-head">
                                        <div class="gdlr-core-alert-box-item-icon"><i class="fa fa-warning"></i></div>
                                        <h3 class="gdlr-core-alert-box-item-title gdlr-core-skin-title" style="color: #ffffff ;">Feedback expired</h3></div>
                                    <div class="gdlr-core-alert-box-item-content gdlr-core-skin-e-content">
                                        <p>You can't modify your feedback because 24h has been spent after its creation !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 50px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffff ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr"><a href="/cdn-cgi/l/email-protection#7053" target="_blank" class="gdlr-core-social-network-icon" title="email" style="font-size: 20px ;color: #1e1e1e ;"><i class="fa fa-envelope"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus" style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-skype"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="font-size: 20px ;color: #1e1e1e ;margin-left: 40px ;"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div><a href="#bigslam-top-anchor" class="bigslam-footer-back-to-top-button" id="bigslam-footer-back-to-top-button"><i class="fa fa-angle-up"></i></a>

{% endblock %}
